extends ./layout/header.pug
block content
  // formulario
  .contenedor
    h1 Gestion de Autos
    form.form-autos
      label(for='marca') Marca:
      input#marca(type='text' name='marca')
      br
      label(for='Modelo') Modelo:
      input#modelo(type='text' name='modelo')
      br
      label(for='Ano') A&ntilde;o:
      input#ano(type='text' name='año')
      br
      label(for='Placas') Placas:
      input#Placas(type='text' name='placas')
      br
      button.btn.btn-primary.mt-2(type='submit') Guardar
  script.
    const formAutos = document.querySelector(".form-autos");
    document.addEventListener("DOMContentLoaded", () => {
    formAutos.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(formAutos);
    const data = Object.fromEntries(formData);
    await fetch("http://localhost:3000/api/v1/autos", {
    method: "POST",
    headers: {
    "Content-Type": "application/json",
    },
    body: JSON.stringify(data),
    });
    formAutos.reset();
    location.reload();
    });
    });
  // tabla
  table.table-descripcion
    thead
      tr
        th ID
        th Descripci&oacute;n
        th ID_auto
        th Fecha
    tbody.table-db
      tr
  // tabla
  script.
    const tableDescripcion = document.querySelector(".table-descripcion");
    const tableDB = document.querySelector(".table-db");
    document.addEventListener("DOMContentLoaded", async () => {
    const servicioData = await fetch(
    "http://localhost:3000/api/v1/servicio",
    {
    method: "GET",
    },
    );
    const servicioDataJson = await servicioData.json();
    const fragment = document.createDocumentFragment();
    servicioDataJson.forEach((servicio) => {
    const dataHtml = document.createElement("tr");
    dataHtml.innerHTML = `
    <td>${servicio.id}</td>
    <td>${servicio.descripcion}</td>
    <td>${servicio.idAuto}</td>
    <td>${servicio.fecha}</td>
    `;
    fragment.appendChild(dataHtml);
    });
    tableDB.appendChild(fragment);
    });
  table.table-autos
    thead
      tr
        th ID
        th Placas
        th Marca
        th A&ntilde;o
        th Modelo
    tbody.table-dba
  script.
    const tableAutos = document.querySelector(".table-autos");
    const tableDBA = document.querySelector(".table-dba");
    document.addEventListener("DOMContentLoaded", async () => {
    const autosData = await fetch("http://localhost:3000/api/v1/autos", {
    method: "GET",
    });
    const autosDataJson = await autosData.json();
    const fragment = document.createDocumentFragment();
    autosDataJson.forEach((auto) => {
    const dataHtml = document.createElement("tr");
    dataHtml.innerHTML = `
    <td>${auto.id}</td>
    <td>${auto.placas}</td>
    <td>${auto.marca}</td>
    <td>${auto.modelo}</td>
    <td>${auto.año}</td>
    `;
    fragment.appendChild(dataHtml);
    });
    tableDBA.appendChild(fragment);
    });
  script(src='secion.js')
